@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* @apply bg-primary; */
  @apply bg-black;
}

@font-face {
  font-family: "AvenirNext";
  src: url("./fontes/avenir-next-similar/karu-font-family.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNext";
  src: url("./fontes/avenir-next-similar/karu-font-family.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
